<launch>
    <!-- Argument -->
    <arg name = "robot" default="1" doc="localhost" />

    <!-- simulator-->
    <include file = "$(find nuslam)/launch/knownDataSlam.launch" if="$(eval arg('robot') == 1)"/>
    
    <!--known slam-->
    <rosparam command="load" file="$(find nuslam)/config/known.yaml" />
    
    <!-- slam node -->
    <node name="slam_node" pkg="nuslam" type="slam_node" />

</launch>